* {
    font-family: "Orbitron", sans-serif;
}

#title {
    text-align: center;
}

#calculator {
    width: 50%;
    height: 500px;
    margin: 0 auto;
    background-color: #737272;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5%;
}

#output-ctn {
    border: 10px solid black;
    border-radius: 5%;
    height: 18%;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    background-color: #dbdbdb;
}

#output {
    color: green;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    font-size: 50px;
    margin-right: 20px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    gap: 2px;
    height: 100%;
    align-content: center;
}

button {
    width: 24%;
    height: 50px;
}